<html lang="en">
  <body>
    <table>
      <tr>
        <td>
          <p>Hi {{fullName}},</p>
          <p>
            Thanks for signing up for the Nanowrit Labs waitlist! You're one
            step closer to embarking on your next great creative adventure.
          </p>
          <p
            style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;"
          >
            We're hard at work building the tools to help you bring your story
            worlds to life. We'll be in touch soon with an invitation to our
            private beta.
          </p>
          <p>Happy Storytelling!</p>
          <p>
            All the best,<br />
            The team at Nanowrit Labs
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>