@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import "tailwindcss";

@plugin '@tailwindcss/typography';

@plugin "daisyui" {
  /* Disable all other themes which forces the default theme created below. You can add a dark mode theme using daisyui if you like, and it will automatically use it when the user's system is in dark mode. Docs: https://daisyui.com/docs/themes/ */
  themes: all;
}

@theme {
  --font-cinzel-decorative: "Cinzel Decorative", serif;
}

@plugin "daisyui/theme" {
  name: "nanowritlabs";
  default: true;
  /* set as default */
  prefersdark: false;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  /* color of browser-provided UI */

  --color-base-100: oklch(98.71% 0.02 123.72);
  --color-base-200: oklch(91.8% 0.018 123.72);
  --color-base-300: oklch(84.89% 0.017 123.72);
  --color-base-content: oklch(19.742% 0.004 123.72);
  --color-primary: oklch(58.92% 0.199 134.6);
  --color-primary-content: oklch(11.784% 0.039 134.6);
  --color-secondary: oklch(77.75% 0.196 111.09);
  --color-secondary-content: oklch(15.55% 0.039 111.09);
  --color-accent: oklch(85.39% 0.201 100.73);
  --color-accent-content: oklch(17.078% 0.04 100.73);
  --color-neutral: oklch(30.98% 0.075 108.6);
  --color-neutral-content: oklch(86.196% 0.015 108.6);
  --color-info: oklch(86.19% 0.047 224.14);
  --color-info-content: oklch(17.238% 0.009 224.14);
  --color-success: oklch(86.19% 0.047 157.85);
  --color-success-content: oklch(17.238% 0.009 157.85);
  --color-warning: oklch(86.19% 0.047 102.15);
  --color-warning-content: oklch(17.238% 0.009 102.15);
  --color-error: oklch(86.19% 0.047 25.85);
  --color-error-content: oklch(17.238% 0.009 25.85);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "nanowritlabs-dark";
  default: false;
  /* not the default theme */
  prefersdark: true;
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark;
  /* color of browser-provided UI */

  --color-base-100: oklch(20% 0.08 209);
  --color-base-200: oklch(15% 0.08 209);
  --color-base-300: oklch(10% 0.08 209);
  --color-base-content: oklch(90% 0.076 70.697);
  --color-primary: oklch(92% 0.2653 125);
  --color-primary-content: oklch(50% 0.2653 125);
  --color-secondary: oklch(83.27% 0.0764 298.3);
  --color-secondary-content: oklch(43.27% 0.0764 298.3);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(30% 0.08 209);
  --color-neutral-content: oklch(90% 0.076 70.697);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(84.8% 0.1962 84.62);
  --color-warning-content: oklch(44.8% 0.1962 84.62);
  --color-error: oklch(65% 0.1985 24.22);
  --color-error-content: oklch(27% 0.1985 24.22);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

/*
  Tailwind CSS v4 Migration:
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

a {
  @apply cursor-pointer;
}

/* Hack to temporarily solve https://github.com/supabase/auth-ui/issues/219 */
.authBtn {
  @apply btn;
}

button[disabled].authBtn {
  font-size: 0.001px;
  filter: brightness(65%);
}

button[disabled].authBtn::before {
  font-size: 14px;
  content: "Loading...";
  color: oklch(var(--pc));
}
